{% extends "baseadmin.html.twig" %}

{% block body %}

<form class="form-inline mt-1" method="POST" action="{{ path('admin.categories.add') }}">
    <div class="form-group mr-1 mb-2">
        <input type="text" class="sm" name="name">
        <button type="submit" class="btn btn-primary mb-2 btn-sm">Ajouter</button>
    </div>
</form>
     <tabble class="table table-stripped">
        <caption></caption>
            <thead>
                <tr>
                    <th> Nom des categories :</th>
                </tr>
            </thead>
            <tbody>
                <div class="form-group mr-1 mb-2">
                    {% for categorie in categories %}
                        <tr>
                            <td>{{ categorie.name }}</td>
                            <td class="text-end">
                            <form action="{{ path('admin.categories.delete', {'id': categorie.id}) }}" method="POST" onsubmit="return confirm('Voulez-vous vraiment supprimer cette catégorie ?');">
                                <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                            </form>
                            </td>
                        </tr>
                    {% endfor %}
                </div>
            </tbody>
    </tabble>
{% endblock %}
